* {
    padding: 0;
    margin: 0;
}

.parent {
    width: 1340px;
    height: 650px;
}

.left {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #789357;
}

.right {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #986532;
}

.left img {
    float: left;
    width: 20%;
    /*height: 25%;*/
    height: 162.5px;
}

.right img {
    float: left;
    width: 50%;
    /*height:33%;*/
    height: 216.6px;
}
